.js-visible {
  display: none !important;
}

.js-enabled .js-visible,
.add-check-your-answers-section {
  display: inline-block !important;
}

.telephone {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
}
